<section class="card">
    <a href="/blog/{{id}}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">
        <h5 class="card-title">{{title}}</h5>
    </a>
    <p class="card-text">{{content}}</p>
    <div>Posted by <span>{{user.name}}</span>,  Last edit at <span>{{updatedAt}}</span></div>
  
</section>