<!--
    show single blog, allow to comment
-->
<section class="mb-3" data-blog-id="{{blog.id}}">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{blog.content}}</p>
    <div class="d-flex flex-row justify-content-start my-3">
        {{#if is_owner}}
            <button class="btn btn-primary" id="editBtn">Edit</button>
        {{/if}}
        <div>Posted by <span>{{blog.user.name}}</span></div>
        <div>Last edit at <span>{{format_time blog.updatedAt}}</span></div>
    </div>
</section>
<section class="mb-3">
    <!--comments section-->
    {{#each comments as |comment|}}
    {{> comment-card}}
    {{/each}}
</section>
<section class="mb-3">
    <form class="form newComment-form">
        <div class="mb-3">
            <lable for="commentText" class="form-label">Comment</lable>
            <textarea id="commentText" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>

<script src="/js/edit.js"></script>
<script src="/js/comment.js"></script>